

body {
    font-size: 14px;
	text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.title-bar {
    background-color: #0a0487;
    height: 20px;
    padding: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.mines {
    float: left;
    padding-left: 3px;
}

.timer {
    float: right;
    padding-right: 3px;
}

.smiley {
    padding: 2px;

    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #7b7b7b;
    border-bottom: 2px solid #7b7b7b;
}

/* .smiley:hover { */
    /* background-color: #ffffff;    */
/* } */

.smiley:active {
    border-top: 2px solid #7b7b7b;
    border-left: 2px solid #7b7b7b;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.digit {
    margin-left: -3px;
    margin-right: -3px;
}

.header table {
    margin: auto;
    border-spacing: 1px;
    padding: 4px;
    width: 100%;
}

.board-container table {
	margin: auto;
    border-spacing: 1px;
    background-color: #7b7b7b;
    border-collapse: separate;

    border-top: 2px solid #7b7b7b;
    border-left: 2px solid #7b7b7b;

    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.header {
    margin: 6px;
    min-width: 130px;

    border-top: 2px solid #7b7b7b;
    border-left: 2px solid #7b7b7b;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}


.game-container{
    padding: 2px;
    display: inline-block;
    background-color: #bdbdbd;

    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #7b7b7b;
    border-bottom: 2px solid #7b7b7b;
}

.actual-game{
    padding: 2px;
    background-color: #bdbdbd;

    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #7b7b7b;
    border-bottom: 2px solid #7b7b7b;
}

.board-container{
    padding: 0px 6px 6px 6px;
    background-color: #bdbdbd;
}

.cell-hidden:hover {
    background-color: #d7d7d7;

}

.cell-hidden:active {
    /*display: block;*/
    border: 2px solid #bdbdbd;
    background-color: #bdbdbd;
}

.cell-shown {
    width: 11px;
    height: 11px;

    border: 0px;
    /*display: block;*/
    background-color: #bdbdbd;
}

.cell-hidden {
    width: 11px;
    height: 11px;

    padding: 0px;

    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #7b7b7b;
    border-bottom: 2px solid #7b7b7b;
    background-color: #bdbdbd;
}

.img-icon {
    display: block;
    float: left;
    max-height: 20px;
}

.control-buttons{
    display: block;
    float: right;
    max-height: 20px;
}

.title-bar-text {
    float: left;
    color: white;
    padding-top: 1px;
}

.inner-img {
    display: block;
    margin: auto;
}

.modal {
	display: none;
}

.menu-bar {
    height: 20px;
    text-align: left;

    margin-top: 6px;
    margin-bottom: 2px;

}

.menu-item {
    cursor: pointer;

    padding-left: 7px;
    padding-right: 7px;
    
    padding-top: 2px;
    padding-bottom: 2px;
    
    border-top: 2px solid #bdbdbd;
    border-left: 2px solid #bdbdbd;
    border-right: 2px solid #bdbdbd;
    border-bottom: 2px solid #bdbdbd;

}

.menu-item:hover {
    background-color: #d7d7d7;
    
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #7b7b7b;
    border-bottom: 2px solid #7b7b7b;

}

.menu-item:active {
    /* border: 2px solid #bdbdbd; */
    border-top: 2px solid #7b7b7b;
    border-left: 2px solid #7b7b7b;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;

    /* background-color: #bdbdbd; */
}

.footer {
    
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    

    border-top: 2px solid #7b7b7b;
    border-left: 2px solid #7b7b7b;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;

    
}

.items-container {
    padding-left: 10px;
}

.items-container  .img-item {
    padding-top:2px;
    width: 15px;
}



.author {
    display: inline;
    float: right;
}





.cheat-item {
    cursor: pointer;

    padding-left: 7px;
    padding-right: 7px;
    
    padding-top: 2px;
    padding-bottom: 2px;
    
    border-top: 2px solid #bdbdbd;
    border-left: 2px solid #bdbdbd;
    border-right: 2px solid #bdbdbd;
    border-bottom: 2px solid #bdbdbd;

}

.cheat-item:hover {
    background-color: #d7d7d7;
    
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #7b7b7b;
    border-bottom: 2px solid #7b7b7b;

}

.cheat-item:active {
    /* border: 2px solid #bdbdbd; */
    border-top: 2px solid #7b7b7b;
    border-left: 2px solid #7b7b7b;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;

    /* background-color: #bdbdbd; */
}


.border-highlight {
    border: 2px solid red;
}